thead {
    /* background-color:red;  */
    /* background-color:rgb(158, 213, 238); */
    /* padding: 0; */
    background-color: rgba(91, 92, 134, 0.24);
}

.dataTables_filter{
    
    background-color: rgba(91, 92, 134, 0.24);
}
.sht{
    background-color: rgb(112, 196, 207);
}
.text_red , .highlight {
    color: #F00;
  }
  .delete_persent{
      background-color: blueviolet;
  }

  .table-responsive{
     max-height: 80vh;
  }
 .discount_price{
    background-color: rgba(105, 148, 61, 0.514);
}