/*
.glyphicon {
  /* font-family:'Glyphicons Halflings' !important; 
  
}
*/
thead {
    /* background-color:red;  */
    /* background-color:rgb(158, 213, 238); */
    /* padding: 0; */
    background-color: rgba(91, 92, 134, 0.24);
}

.dataTables_filter{
    
    background-color: rgba(91, 92, 134, 0.24);
}
.sht{
    background-color: rgb(112, 196, 207);
}
.text_red , .highlight {
    color: #F00;
  }
  .delete_persent{
      background-color: blueviolet;
  }

  
 .discount_price{
    background-color: rgba(105, 148, 61, 0.514);
}
.checkbox_group{
    padding-top: 0.5rem;
}
/* стилизация chekbox begin */
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .checkbox + label {
    position: relative;
    padding: 0 0 0 52px;
    /* margin-left: 5px; */
    margin-right: 8px;
    cursor: pointer;
  }
  .checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
  }
  .checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
  }
  .checkbox:checked + label:before {
    background: #9FD468;
  }
  .checkbox:checked + label:after {
    left: 26px;
  }
  .checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
  }
  /* стилизация чекбокс end*/
  /* выравнивание по высоте двух рядом стоящих div    begin */
  #columns {
    display: table;
    width: 100%;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
    margin-left: 0;
    margin-right: 0;
}

#columns > div,
#columns > noindex > div {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
}
  /* выравнивание по высоте двух рядом стоящих div    end */
  
  .table-responsive{
    min-height: 79vh;
    max-height: 80vh;
 }

  table tbody{
    font-size: 20px!important;
    width:80% !important;
    height: 80%;
  }
  .lightingRed{
    background-color: rgb(240, 200, 200);
  }
  .this_li{
    font-weight: bolder;
  }